* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  background: url(8c43645fe8d0ac164a6925448be32858.jpg);
}
.calculator {
  background-color: rgb(148, 28, 159);
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}
.heading {
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.calculator input {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 63px;
  height: 64px;
  margin: 2px;
  border-radius: 10px;
}
.input-box input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#equal {
  width: 120px;
}
